/* Modal Forms */
.modal input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
.modal input[type="checkbox"]:hover {
    cursor: pointer;
}


/* Modal Tables */
.modal .table td {
    padding: 5px;
    vertical-align: middle !important;
}