body {
    width: 8.5in;
    margin: 0;
    padding: 0.01in 0.5in 0.2in 0.5in;
    outline: 1px solid #000;
    font-family: 'Open Sans', sans-serif;
}

.header .logo-container img {
    width: 8%;
}

.header .header-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px !important;
    /* padding-top: 13px; */
}

.health-status {
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

/* Yancy Framework */

/* Grid Layout Style */
.row {
    display: inline-block;
    width: 100%;
}

.row .col-1, 
.row .col-2, 
.row .col-3, 
.row .col-4, 
.row .col-5, 
.row .col-6, 
.row .col-7, 
.row .col-8, 
.row .col-9, 
.row .col-10, 
.row .col-11, 
.row .col-12 {
    float: left;
    /* padding-left: 15px;
    padding-right: 15px; */
    /* box-sizing: border-box; */
} 

/* Column Widths */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 24.99%;
}
.col-4 {
    width: 33.32%;
}
.col-5 {
    width: 41.65%;
}
.col-6 {
    width: 49.98%;
}
.col-7 {
    width: 58.31%;
}
.col-8 {
    width: 66.64%;
}
.col-9 {
    width: 74.97%;
}
.col-10 {
    width: 83.3%;
}
.col-11 {
    width: 91.63%;
}
.col-12 {
    width: 99.96%;
}

/* Column Offsets */
.offset-1 {
    margin-left: 8.33%;
}
.offset-2 {
    margin-left: 16.66%;
}
.offset-3 {
    margin-left: 24.99%;
}
.offset-4 {
    margin-left: 33.32%;
}
.offset-5 {
    margin-left: 41.65%;
}
.offset-6 {
    margin-left: 49.98%;
}
.offset-7 {
    margin-left: 58.31%;
}
.offset-8 {
    margin-left: 66.64%;
}
.offset-9 {
    margin-left: 74.97%;
}
.offset-10 {
    margin-left: 83.3%;
}
.offset-11 {
    margin-left: 91.63%;
}
.offset-12 {
    margin-left: 99.96%;
}

/* Text Related Style */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}

/* Margin Properties */
.margin-top-xs {
    margin-top: 10px;
  }
  
  .margin-top-sm {
    margin-top: 20px;
  }
  
  .margin-top, .margin-top-md {
    margin-top: 30px;
  }
  
  .margin-top-lg{
    margin-top: 40px;
  }
  
  .margin-bottom-xs {
    margin-bottom: 10px;
  }
  
  .margin-bottom-sm {
    margin-bottom: 20px;
  }
  
  .margin-bottom, .margin-bottom-md {
    margin-bottom: 30px;
  }
  
  .margin-bottom-lg{
    margin-bottom: 40px;
  }


/* Google Fonts */
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../vendor/google-font/open-sans/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../../vendor/google-font/open-sans/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../vendor/google-font/open-sans/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../vendor/google-font/open-sans/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../vendor/google-font/open-sans/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../vendor/google-font/open-sans/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }